.page2 {
  width: 100vw;
  min-height: 100vh;
}

.page2-content {
  width: 85vw;
  margin: 0 auto;
  height: 100%;
}

.p2-top {
  width: 100%;
  height: fit-content;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 100px 0;
}

.p2-top-heading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height */

  letter-spacing: 0.63em;
  padding: 20px 0;
  color: #de6000;
}

.p2-top-main-heading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 96px;
  text-align: center;

  color: #474747;
}

.p2-bottom {
  padding: 50px 0;
}

.p2-bottom-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.p2-bottom-content-div {
  display: flex;
  flex-direction: column;
  width: 25%;
  align-items: center;
  justify-content: center;
}

.p2-bottom-content-div img {
  width: 20em;
  height: 10em;
}

.p2-bottom-content-heading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
  /* identical to box height */
  margin: 20px 0;
  text-align: center;
  color: #474747;
}

.p2-bottom-content-paragraph {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  text-align: center;

  color: #929292;
}

@media screen and (max-width: 600px) {
  .p2-bottom {
    padding: 10px 0;
  }

  .p2-top-main-heading {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 50px;
    text-align: center;

    color: #474747;
  }
  .p2-bottom-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .p2-bottom-content-div {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 20px 0;
    align-items: center;
    justify-content: center;
  }
  .p2-bottom-content-heading {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 60px;
    /* identical to box height */
    margin: 20px 0;
    text-align: center;
    color: #474747;
  }

  .p2-bottom-content-paragraph {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 36px;
    text-align: center;

    color: #929292;
  }

  .p2-top-heading {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 36px;
    /* identical to box height */

    letter-spacing: 0.63em;
    padding: 20px 0;
    color: #de6000;
  }
}
